

.navbar img{
    height:5vh;
}

/* Provide sufficient contrast against white background */


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

a{
    color:dodgerblue;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.login-white{
    color:#f2f2f2;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.open{
    text-align:center;
    padding:3%;
    color:#ff3b21;
    font-weight:bold;
}

.resolved {
    text-align: center;
    padding: 3%;
    color: #00ad4b;
    font-weight: bold;
}
.open-details {
   
    
    color: #ff3b21;
    font-weight: bold;
}

.resolved-details {
    
   
    color: #00ad4b;
    font-weight: bold;
}
