<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WatchTower_V1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/branding/WT_LOGO.png" alt="watchtower"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">



                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle bg-dark text-light" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Review Tickets
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">


                                <a class="dropdown-item" asp-area="" asp-controller="GeneralTicket" asp-action="Index">View General Tickets</a>
                                <a class="dropdown-item" asp-area="" asp-controller="TechnicalTicket" asp-action="Index">View Technical Tickets</a>


                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Item" asp-action="Index">Assets</a>
                        </li>



                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Room" asp-action="Index">Rooms</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Campus" asp-action="Index">Campuses</a>
                        </li>


                        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                        {

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle bg-dark text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                User Management
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                                <a class="dropdown-item" asp-area="" asp-controller="UserRoles" asp-action="Index">Review/Assign User Role</a>
                                <a class="dropdown-item" asp-area="" asp-controller="RoleManager" asp-action="Index">Manage All Roles</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Index">Create/Manage Accounts</a>

                            </div>
                        </li>
                        }



                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2021 - WatchTower - Asset Management
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
