@model TechnicalTicketViewModel

<div class="form-group">
    Hello!
    <label asp-for="RoomId" class="control-label"></label>
    <select asp-for="RoomId" class="form-control">
        @{
            foreach (var item in Model.Room)
            {

                <option value="@item.Id">
                    @item.RoomNumber
                </option>
            }
        }
    </select>
    <span asp-validation-for="RoomId" class="text-danger"></span>
</div>