@model AssetViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Spotlight</h1>

<h4>Edit Asset</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AssetCategoryId" class="control-label">Reassign Asset Category</label>
                <select asp-for="AssetCategoryId" class="form-control">
                    @{
                        foreach (var item in Model.Assetcategory)
                        {
                            <option value="@item.Id">
                                @item.Category
                            </option>
                        }
                    }
                </select>
                <span asp-validation-for="AssetCategoryId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="RoomId" class="control-label">Reassign To New Room</label>
                <select asp-for="RoomId" class="form-control">
                    @{
                        foreach (var item in Model.Room)
                        {
                            <option value="@item.Id">
                                @item.RoomNumber
                            </option>
                        }
                    }
                </select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

