@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="row">
    <div class="col">
    <div class="text-center">
        <h1 class="display-4 py-4">UCS WatchTower</h1>
        <h3 class="display-4 py-2">Asset Management</h3>
        <div class="d-flex flex-column justify-content-center align-items-center vh-85">
            <div class="card bg-light mb-3 mt-5" style="max-width: 40rem;">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <h5 class="card-title">Login with Institution Credentials</h5>
                    <form id="account" method="post">
                        
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.UserName">User Name</label>
                            <input asp-for="Input.UserName" class="form-control" />
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password">Password</label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                        <div class="form-group">
                            <p>
                                If you are unable to access your account, please contact your WatchTower Administrator.
                            </p>


                        </div>
                    </form>
                    
                </div>
            </div>

        </div>
      
      
    </div>
    </div>
</div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
